@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@1&family=Poppins:wght@300&family=Roboto:wght@500&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
.background {
    margin: 0px 90px;
    width: 85vw;
    height: 120vh;
    background-color: gainsboro;
}
div>h3 {
    font-size: x-large;
    margin: 12px;
    padding: 0;
}
#span-header {
    color: #7421b8;
}
nav {
    padding-top: 20px;
    width: 100%;
}
.btn {
    float: right;
    width: 70px;
    height: 24px;
    margin-right: 50px;
    background-color: #ba03fc;
    color: white;
    border: none;
    border-radius: 3px
}
.nav-bar {
    margin-left: 50px;
}
h3 {
    padding-right: 20px;
}
a {
    padding-right: 20px;
    color: black;
    text-decoration: none;
}
.recipe-section {
    width: 160px;
    height: 200px;
    /* border: 1px solid black; */
    float: left;
    margin-left: 70px;
    margin-top: 40px;
}
#list-heading, #list {
    padding-left: 0rem;
}
.flex-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 850px;
    height: 200px;
    /* border: 1px solid black; */
    float: right;
    margin-top: 40px;
    margin-right: 70px;
    gap: 20px;
}
.flex-images {
    width: 250px;
    height: 140px;
    border-radius: 5px;
}
.flex-span {
    font-size: larger;
    letter-spacing: 1px;
}



footer {
    background-color: black;
    color: white;
    font-size: large;
    text-align: center;
    margin-top: 700px;
    padding-top: 10px;
    height: 60px;
}
.color {
    color: darkorchid;
}
footer > p {
    letter-spacing: 1px;
}
